@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #000000; }

a {
  text-decoration: none; }

/* -------------------------------------------- GRID ------------------------------------------------- */
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas: "header" "main" "work" "xp" "bio" "form" "footer"; }

header {
  grid-area: header; }

main {
  grid-area: main; }

#WORK {
  grid-area: work; }

#XP {
  grid-area: xp; }

#BIO {
  grid-area: bio; }

.form {
  grid-area: form; }

footer {
  grid-area: footer; }

/* -------------------------------------------- NAV ------------------------------------------------- */
.navbar {
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  transition-duration: 0.3s; }
  .navbar:hover {
    background: black;
    opacity: 100%;
    transition-duration: 0.3s; }
  .navbar a {
    color: darkgrey;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.3em 1.5em 0.3em 1.5em;
    transition-duration: 0.3s; }
    .navbar a:hover {
      color: #fff;
      transition-duration: 0.3s; }

.navbar-toggler {
  border: 0;
  font-size: 0.8em; }
  .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0; }

/* -------------------------------------------- MAIN ------------------------------------------------- */
.home {
  background-image: url(../img/Diseño/Untitled-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .home .photoAndName .ProfilePic {
    padding-top: 8em;
    text-align: center; }
    .home .photoAndName .ProfilePic img {
      height: 500px;
      width: 750px;
      opacity: 100%;
      pointer-events: none; }
  .home .photoAndName .Headline {
    position: relative;
    text-align: center;
    margin-top: -28em;
    margin-bottom: 22em;
    padding: 0em 8em 0em 0em; }
    .home .photoAndName .Headline h1 {
      font-family: "Gloria Hallelujah";
      font-size: 3em;
      padding: 0.4em 0 0em 0.1em;
      color: #fff;
      display: inline-block;
      text-align: left;
      transform: rotate(-10deg); }
      .home .photoAndName .Headline h1 .Role {
        background: linear-gradient(45deg, #00d2ff, #3a7bd5, #8026C6, #F80284, #FF554B, #F9C629, #F9C629);
        background-size: 500% 500%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: rotation 100s ease infinite; }

@keyframes rotation {
  0% {
    background-position: 0% 68%; }
  50% {
    background-position: 100% 33%; }
  100% {
    background-position: 0% 68%; } }
  .home .copy {
    text-align: center; }
    .home .copy p {
      font-family: "Open Sans", sans-serif;
      color: #a5a5a5; }

/* -------------------------------------------- SOCIALS ------------------------------------------------- */
.TopSocials {
  text-align: center;
  padding: 1em 1em 0em 0;
  margin-bottom: 10em; }
  .TopSocials li {
    display: inline-block;
    margin: 0em 1em 0em 1em;
    padding-right: 1em; }

.social-icon, .Linkedin, .Behance, .Spotify, .Whatsapp, .Github, .Mail {
  color: #fff;
  transition-duration: 0.3s; }

.Linkedin:hover {
  color: #0e76a8;
  transition-duration: 0.3s; }

.Behance:hover {
  color: #053eff;
  transition-duration: 0.3s; }

.Spotify:hover {
  color: #1DB954;
  transition-duration: 0.3s; }

.Whatsapp:hover {
  color: #25d366;
  transition-duration: 0.3s; }

.Github:hover {
  color: midnightblue;
  transition-duration: 0.3s; }

.Mail:hover {
  color: #DB4437;
  transition-duration: 0.3s; }

/* -------------------------------------------- WORK ------------------------------------------------- */
.projects {
  margin-top: -4em;
  background-color: #000000; }
  .projects .Thumbnail {
    height: auto;
    width: 100%;
    opacity: 60%;
    margin: 0em 0 0.4em 0;
    transition-duration: 1s; }
    .projects .Thumbnail:hover {
      opacity: 100%;
      transition-duration: 0.5s; }

/* -------------------------------------------- XP ------------------------------------------------- */
.xp-title {
  margin: 3em 0 1em 0; }

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80vw; }
  .slider::before, .slider::after {
    background: linear-gradient(to right, black 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2; }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }
  .slider::before {
    left: 0;
    top: 0; }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14); }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 7)); } }
  .slider .slide {
    height: 100px;
    width: 250px; }

.logos {
  margin: 2em 0 8em 0;
  pointer-events: none; }
  .logos .ClientLogo {
    height: 100px;
    width: 100px;
    opacity: 15%; }

/* -------------------------------------------- BIO ------------------------------------------------- */
.BioPic {
  padding: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background: url(../img/Diseño/bio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -20px; }
  .BioPic p {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 0.9em;
    text-align: left; }

h3 {
  font-family: "Gloria Hallelujah";
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  padding-top: 1.2em;
  margin-bottom: 0.8em;
  transform: rotate(-5deg); }

.awards {
  margin-bottom: 10em;
  pointer-events: none; }
  .awards .award-thumb {
    height: 100px;
    width: 100px;
    opacity: 100%; }

/* -------------------------------------------- CONTACT ------------------------------------------------- */
.container-h2 {
  margin-top: 4em;
  width: 60vw;
  height: auto; }
  .container-h2 img {
    position: relative;
    z-index: -1;
    opacity: 90%; }

.Form {
  text-align: center;
  margin-top: -14%;
  padding: 3em; }
  .Form .mb-3 {
    justify-content: center;
    display: flex; }
    .Form .mb-3 input {
      width: 60vw; }
    .Form .mb-3 textarea {
      resize: none;
      width: 60vw;
      height: 30vh; }
  .Form .send {
    margin: 1em;
    transition-duration: 0.003s;
    box-shadow: 0 5px 0 #818181; }
    .Form .send:hover {
      color: white;
      background-color: black; }
    .Form .send:focus {
      color: white;
      background-color: black; }
    .Form .send:active {
      transition-duration: 0.003s;
      box-shadow: none;
      transform: translateY(5px); }

/* -------------------------------------------- FOOTER ------------------------------------------------- */
footer {
  margin-top: 1em;
  margin-bottom: 0; }
  footer .info a {
    padding: 0 1em 0 1em;
    line-height: 1em; }
  footer div .resume {
    margin-top: -0.5em;
    margin-bottom: 2em; }
    footer div .resume a {
      border-radius: 15px;
      padding: 0em 0.5em 0.2em 0.4em;
      font-size: 0.95em;
      color: #000000;
      font-weight: bold;
      background: linear-gradient(45deg, #0abfbc, #833AB4, #ff4e50, #0072ff, #ee0979, #ff6a00, #ff00cc, #333399, #c471ed, #f64f59);
      background-size: 1000% 1000%;
      -webkit-background-clip: border;
      background-clip: border;
      animation: rotation 40s ease infinite; }

@keyframes rotation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  footer div .copyright {
    margin-top: -3em;
    font-size: 0.7em; }

/* -------------------------------------------- PROJECTS ------------------------------------------------- */
.cover {
  position: relative;
  margin-top: 2.6em; }
  .cover h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    display: block;
    margin: 0;
    font-size: 2em;
    font-family: "Merriweather", serif;
    color: #fff;
    z-index: 1; }
  .cover img {
    width: 100%;
    opacity: 40%; }
  .cover .behance-button {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 0.79em;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    border: 1px solid #fff;
    background-color: #000000;
    color: white;
    padding: 11px;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s; }
    .cover .behance-button:hover {
      transition-duration: 0.5s;
      background-color: #fff;
      color: #000000; }
  .cover .lineas {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 71%;
    left: 50.3%;
    transform: translate(-50%, -50%); }

.carousel {
  margin-top: -3.5em;
  margin-bottom: 5em; }
  .carousel .carousel-indicators {
    bottom: -50px; }
  .carousel .carousel-inner {
    text-align: center;
    padding: 10px 10px 0 10px;
    width: 80%;
    margin: auto; }
  .carousel .carousel-control-next,
  .carousel .carousel-control-prev {
    width: 10%; }

.board {
  display: flex;
  margin: auto;
  margin-bottom: 5em;
  width: 70vw;
  padding-top: 3em; }

.case-study {
  margin: -3em 10em 0 10em;
  margin-bottom: 5em; }

/* -------------------------------------------- MEDIA QUERIES ------------------------------------------------- */
@media screen and (max-width: 864px) {
  /* INDEX */
  .home .photoAndName {
    margin-top: -2em; }
    .home .photoAndName .ProfilePic img {
      width: 500px;
      height: 335px; }
    .home .photoAndName .Headline {
      margin-top: -19.5em;
      margin-bottom: 10em;
      padding: 1em 7em 0em 0em; }
      .home .photoAndName .Headline h1 {
        font-size: 2em; }
  .home .copy {
    padding-top: 4em; }
    .home .copy p {
      font-size: 0.8em; }
  .home .TopSocials {
    margin-bottom: 8em;
    padding: 0em 1em 0em 0;
    font-size: 0.8em; }
  .work-h2 {
    width: 100vw; }
  .projects .Thumbnail {
    margin: 0em 0 0.3em 0; }
  .BioPic {
    margin-top: 0px;
    padding: 6em; }
    .BioPic p {
      font-size: 0.8em; }
  .awards .award-thumb {
    width: 80px;
    height: 80px; }
  /* PROJECTS */
  .cover h1 {
    font-size: 1.5em; }
  .cover .behance-button {
    font-size: 0.6em;
    padding: 0.8em;
    width: 150px;
    height: 30px; }
  .cover .lineas {
    width: 151px;
    height: 33px;
    top: 72%;
    left: 50.3%;
    transform: translate(-50%, -50%); }
  .case-study {
    margin: -1.5em 5em 0 5em; } }

@media screen and (max-width: 650px) {
  /* INDEX */
  .home {
    padding: 2em 0em 2em 0em; }
    .home .photoAndName {
      margin-top: -5em; }
    .home .TopSocials {
      margin-bottom: 2em;
      font-size: 0.7em; }
  .bio-h2 {
    width: 100vw;
    height: auto; }
  .projects .Thumbnail {
    opacity: 100%; }
  .logos {
    margin: 2em 0 5em 0; }
    .logos .ClientLogo {
      height: 70px;
      width: 70px; }
  .BioPic {
    padding: 4em; }
    .BioPic p {
      font-size: 0.7em; }
  /* PROJECTS */
  .cover h1 {
    font-size: 1em; }
  .cover .behance-button {
    font-size: 0.45em;
    padding: 0.5em;
    width: 100px;
    height: 20px; }
  .cover .lineas {
    width: 101px;
    height: 23px;
    top: 70%;
    left: 50.3%; }
  .carousel {
    margin-top: -2em; } }

@media screen and (max-width: 500px) {
  /* INDEX */
  .home {
    padding: 1em 0em 2em 0em; }
    .home .photoAndName {
      margin-top: 0em; }
      .home .photoAndName .ProfilePic {
        padding-top: 5em; }
        .home .photoAndName .ProfilePic img {
          width: 300px;
          height: 200px; }
      .home .photoAndName .Headline {
        margin-top: -11.5em;
        margin-bottom: 5em;
        padding: 0.2em 4.2em 0em 0em; }
        .home .photoAndName .Headline h1 {
          font-size: 1.3em; }
    .home .copy {
      padding-top: 4em; }
      .home .copy p {
        font-size: 0.55em; }
    .home .TopSocials {
      padding-top: 0em;
      margin-bottom: 0em; }
      .home .TopSocials li {
        font-size: 0.8em; }
  .work-h2 {
    margin: 3em 0em 2em 0em; }
  .projects .Thumbnail {
    margin: 0em 0 0.2em 0; }
  .BioPic {
    padding: 2em; }
    .BioPic p {
      font-size: 0.6em; }
  .awards .award-thumb {
    width: 70px;
    height: 70px; }
  footer div div a {
    font-size: 0.8em; }
  /* PROJECTS */
  .cover h1 {
    font-size: 0.8em; }
  .h2-campaign {
    width: 50vw;
    height: auto; }
  .carousel {
    margin-top: -1em; }
  .case-study {
    margin: -0.5em 2em 0 2em; } }
