/* -------------------------------------------- NAV ------------------------------------------------- */

.navbar {
    background: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    transition-duration: 0.3s;

    &:hover {
        background: rgb(0, 0, 0);
        opacity: 100%;
        transition-duration: 0.3s;
    }

    a {
        color: darkgrey;
        font-family: $copy-font;
        font-size: 0.8em;
        font-weight: bold;
        padding: 0.3em 1.5em 0.3em 1.5em;
        transition-duration: 0.3s;

        &:hover {
            color: $color-2;
            transition-duration: 0.3s;
        }
    }
}

.navbar-toggler {
    border: 0;
    font-size: 0.8em;

    &:focus, &:active, .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
        border: 0;    
    } 
}