/* ============= CLIENTS ============= */

.clients-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.8rem;
    max-width: 900px;
    margin: 0 auto;

    img {
        width: 70px;
        height: 70px;
        object-fit: contain;
        opacity: 0.3;
        filter: grayscale(100%);
        transition: all 0.4s ease;
        justify-self: center;

        &:hover {
            opacity: 0.75;
            filter: grayscale(0%);
        }
    }
}
